In [1]:
def fool(i, x=[]):
    x.append(i)
    return x
for i in range(3):
    print(fool(i))

[0]
[0, 1]
[0, 1, 2]

In [4]:
def fool():
    return total + 1
total = 0
print(fool())

1

In [2]:

def fool1():
    total1 = 0
    total1 += 1
    return total1 
total1 = 0
print(fool1())

1

In [10]:
my_list = [1,3,2,5,4,6,4,3,8,12,5]

print([x for x in my_list[1::2]])
print([x for x in my_list[1::1]])
       
print([x for x in my_list[1::2] if x%2 == 0])

[3, 5, 6, 3, 12]
[3, 2, 5, 4, 6, 4, 3, 8, 12, 5]
[6, 12]

In [17]:
import pandas as pd
df = pd.DataFrame({'age':[10,22,13,21,12,11,17] ,
                  'city':['Gurgon', 'Delhi', 'Mumbai', 'Delhi', 'Mumbai', 'delhi', 'Mumbai']})

df.set_index("age", inplace = True)

"""
for i in df.index:
    print(i, int(i))
    print(int(i)%2)
    if int(i)%2 == True:
        print(df.loc[i]['city'])

"""
df.head()

       city
age
10   Gurgon
22    Delhi
13   Mumbai
21    Delhi
12   Mumbai

In [19]:
List1 =['A','B','C']
List2 = [1,2,3]
list3 = list(zip(List1, List2))
print(list3)
list4 = zip(List1, List2)
print(list(list4))

[('A', 1), ('B', 2), ('C', 3)]
[('A', 1), ('B', 2), ('C', 3)]

In [28]:
A = dict(zip(('a', 'b', 'c', 'd', 'e'), (1,2,3,4,5)))
B =range(3)
C = sorted([i for i in B if i in A])
print(list(C))
print(i for i in B )
print(B)

for i in B:
    print(i)

[]
<generator object <genexpr> at 0x00000227BD194900>
range(0, 3)
0
1
2

In [31]:
import pandas as pd
import numpy as np
seriesA = pd.Series([0,10,20,30])
seriesB = pd.Series([1,11,21,31])
SeriesC = (seriesA+seriesB)/2
print(SeriesC)

0     0.5
1    10.5
2    20.5
3    30.5
dtype: float64

In [31]:
d = lambda p: p*2
t = lambda p: p*3
x=2
x=d(x)
x=t(x)
x=d(x)
print(x)

12

In [36]:
conf = {}
conf[1] = 1
conf['1'] =2
conf[1]+=1
sum=0
for k in list(conf.keys()):
    sum+=conf[k]
    print(sum)

2
4

In [11]:
X = [1,2,3]
Y = [5,6,7,8]
X.extend(Y)
print(X)
X.append(Y)
print(X)

[1, 2, 3, 5, 6, 7, 8]
[1, 2, 3, 5, 6, 7, 8, [5, 6, 7, 8]]

In [40]:
import pandas as pd
df = pd.DataFrame({'age':[10,22,13,21,12,11,17] ,
                  'city':['Gurgon', None, 'Mumbai', 'Delhi', None, 'delhi', 'Mumbai']})

output = pd.DataFrame((df.fillna('Kolatta').groupby('city').min()).T)
print(output)

city  Delhi  Gurgon  Kolatta  Mumbai  delhi
age      21      10       12      13     11

In [16]:
names = ["IXO", "KOLKATA", "SALT LAKE", "SEZ"]
print(names[-1][-2])
print(names[-2])
print(names[2][2])
print(names[-1])

E
SALT LAKE
L
SEZ

In [18]:
S1 = "KOLKATA"
S2 = "LAKE"
temp = list(set(S1)&set(S2))
print(temp)
print(set(S1))
print(set(S2))
for iNav in temp:
    print(iNav)

['L', 'A', 'K']
{'A', 'K', 'T', 'L', 'O'}
{'L', 'A', 'E', 'K'}
L
A
K

In [45]:
a = [3,4,5]
b = [6,1,2]

In [53]:
df = pd.DataFrame(np.array([[3,5,6], [3,1,5], [5,4,1]]), columns=['a', 'b', 'c'])
print(df)
df[df.apply(lambda x:x%2 == 0)].sum(axis=1)
print(df)
df[df.apply(lambda x:x%2 == 1)].sum(axis=1)
print(df)
df.filter(lambda x:x%2==0).sum(axis=0)
print(df)

   a  b  c
0  3  5  6
1  3  1  5
2  5  4  1
   a  b  c
0  3  5  6
1  3  1  5
2  5  4  1
   a  b  c
0  3  5  6
1  3  1  5
2  5  4  1

TypeError: 'function' object is not iterable